@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.notification-message > .title {
  color: white !important;
  font-size: 18px !important;
}
#header .header-nav-main nav > ul > li > a {
  font-size: 15px;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
  color: #464646;
  font-size: 0.9em;
}
